.card {
	width: 100%;

	display: grid;
	grid-template-columns: 1fr auto;

	color: var(--foreground-color);
}

.card__image {
	grid-column: 1 / -1;
	aspect-ratio: 3 / 4;

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.card .carousel {
	grid-column: 1 / -1;
	aspect-ratio: 3 / 4;
}

.card .carousel__footer {
	bottom: var(--space-2);
}

.card .carousel__dots {
	background-color: var(--background-color);
	border-radius: 999px;
	padding: var(--space-2) var(--space-3);
}

.card__title {
	font-weight: 600;
	font-size: var(--text-lg);
}

.card__price {
	display: flex;
	flex-direction: column;
	grid-column: 2;
	grid-row: 2 / 4;

	:first-child {
		font-weight: 600;
		font-size: var(--text-lg);
	}

	:last-child {
		margin-top: calc(var(--space-2) * -1);
		color: var(--muted-foreground-color);
	}
}

.card__badges {
	margin-top: calc(var(--space-1) * -1);
	display: flex;
	gap: var(--space-3);
}

.card__badge {
	display: flex;
	gap: var(--space-2);
	align-items: center;
	color: var(--muted-foreground-color);
}

.card__content {
	grid-column: 1 / -1;
}
