.navbar {
	position: fixed;
	top: 0;
	left: 50%;

	transform: translateX(calc(-50% - 64px));

	display: flex;
	width: fit-content;

	a {
		color: var(--foreground-color);
		text-transform: uppercase;
		text-decoration: none;
	}
}

.navbar__content {
	position: relative;
	background-color: var(--background-color);
	margin-inline: -1px; /* remove gap between images */
}

.navbar__items {
	display: flex;
	gap: var(--space-4);
	height: 100%;
	align-items: center;
}
