:root {
	--background-color: #ffffff;
	--foreground-color: #000000;
	--surface-color: #e8eeed;
	--primary-color: #363636;
	--primary-foreground-color: #ffffff;
	--muted-foreground-color: #676767;

	--text-2xl: 48px;
	--text-xl: 32px;
	--text-lg: 24px;
	--text: 16px;
	--text-sm: 12px;

	--space-1: 4px;
	--space-2: 8px;
	--space-3: 16px;
	--space-4: 32px;
	--space-5: 64px;
	--space-6: 128px;
}

body {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	font-family:
		"Albert Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	font-weight: 600;
}

main {
	flex: 1 0 auto;
	background-image: linear-gradient(
		to bottom,
		var(--background-color) 25%,
		var(--surface-color) 75%
	);
}
